__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
.env*
.venv/
venv/
.DS_Store
.idea/
.vscode/
# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Distribution / packaging
.Python
build/
dist/
.eggs/ 